<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#li" aria-expanded="true" aria-controls="li">
    LI
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lem" aria-expanded="false" aria-controls="lem">
    LEM
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lpt" aria-expanded="false" aria-controls="lpt">
    LPT
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#liis" aria-expanded="false" aria-controls="liis">
    LIIS
  </button>
</div>

<div class="collapse in" id="li">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za informatiko <small>LI</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lem">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za e-medije <small>LEM</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lpt">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za podatkovne tehnologije <small>LPT</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="liis">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za integracijo informacijskih sistemov <small>LIIS</small></h4>
    <!-- PRIMER opisa laboratorija -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
        <span style="font-size: 1.2em"><strong>Opis</strong></span>
        <p>Na področju informatike in informacijskih znanosti narašča pomen in vloga integracije in interoperabilnosti informacijskih sistemov, arhitektur in platform ter s tem povezane storitvene usmerjenosti. Laboratorij svoje delovanje temelji na naslednjih vsebinskih izhodiščih in raziskovalnih področjih:</p>
        <ul>
          <li>metode integracije in interoperabilnosti informacijskih sistemov,</li>
          <li>storitveno orientirane arhitekture (SOA),
            <ul>
              <li>celostni življenjski cikel SOA + BPM,</li>
              <li>vrednotenje in optimizacija SOA,</li>
              <li>upravljanje SOA arhitektur,</li>
              <li>načrtovanje storitev po konceptih storitvene znanosti (Service Science),</li>   
            </ul>
          </li>
          <li>računalništvo v oblaku (IaaS, PaaS, SaaS),
            <ul>
              <li>infrastruktura kot storitev (IaaS),</li>
              <li>platforma kot storitev (PaaS),</li>
              <li>apliakcije kot storitev (SaaS),</li>
            </ul>
          </li>
          <li>večslojne arhitekture,</li>
          <li>arhitekturni in tehnološki vidiki integracije in interoperabilnosti,</li>
          <li>vmesni sloj programske opreme (middleware),</li>
          <li>integracijske tehnologije in platforme,</li>
          <li>storitvene paltforme in spletne storitve,</li>
          <li>platforma Java EE in .NET,</li>
          <li>aplikacijski in procesni strežniki.</li>
        </ul>
        <span style="font-size: 1.2em"><strong>Sodelavci</strong></span>
        <ul>
          <li>prof. dr. Matjaž Branko Jurič, predstojnik</li>
          <li>uni. dipl. ing. Aleš Frece</li>
          <li>uni. dipl. ing. Matej Hertiš</li>
          <li>uni. dipl. ing. Andrej Kocbek</li>
          <li>uni. dipl. ing. Marcel Križevnik</li>
          <li>uni. dipl. ing. Martin Potočnik</li>
          <li>uni. dipl. ing. Gregor Srdić</li>
          <li>Robert Dukarić</li>
          <li>as. uni. dipl. ing. Rok Povše</li>
          <li>Andrej Hrnčič</li>
          <li>Jernej Zorko</li>
          <li>uni. dipl. ing. Gregor Beslič</li>
        </ul>
      </div>
        
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <span style="font-size: 1.2em"><strong>Tekoči projekti</strong></span>
        <ul>
          <li>Vseprisotno računalništvo, Programska skupina (P2-0359), 2009−2017</li>
          <li>Model za domensko specifično napovedovanje trendov na osnovi semantične bogatitve nestrukturiranih vzorcev, Temeljni oz. aplikativni projekt (J5-5552), 2013−2016</li>
          <li>AGROIT - Increasing the efficiency of farming through on open standards based AgroIT platform, Evropski projekt iz okvirnega programa Evropske komisije (621031), 2014−2016</li>
          <li>FLEXICIENCY - energy services demonstrations of demand response, FLEXibility and energy effICIENCY based on metering data, Evropski projekt iz okvirnega programa Evropske komisije (646482), 2015−2019</li>
        </ul>
        <span style="font-size: 1.2em"><strong>Zaključeni projekti</strong></span>
        <ul>
          <li>Semantično napreden storitveno usmerjen portal za upravljanje informacij in znanja, Temeljni oz. aplikativni projekt (L5-2245), 2009−2012</li>
          <li>KC OPCOMM - Odprta komunikacijska platforma za integracijo storitev, Projekt strukturnih skladov (3211-10-000468), 2011−2013</li>
          <li>KC CLASS - Storitve podprte z računalništvom v oblaku, Projekt strukturnih skladov (3211-10-000467), 2011−2013</li>
          <li>SINTESIS - E-storitev in mobilna aplikacija za klasifikacijo, vrednotenje, integracijo, migracijo in varovanje SAAS aplikacij, Projekt strukturnih skladov, 2012−2013</li>
          <li>Po kreativni poti do praktičnega znanja, Projekt strukturnih skladov, 2014−2014</li>
        </ul>
      </div>
    </div>
  </div>
</div>