<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lmat" aria-expanded="true" aria-controls="lmat">
    LMAT
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lkrv" aria-expanded="false" aria-controls="lkrv">
    LKRV
  </button>
</div>

<div class="collapse in" id="lmat">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za matematične metode v računalništvu in informatiki <small>LMAT</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lkrv">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za kriptografijo in računalniško varnost <small>LKRV</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>