<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lggm" aria-expanded="true" aria-controls="lggm">
    LGGM
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lbrso" aria-expanded="false" aria-controls="lbrso">
    LBRSO
  </button>
</div>

<div class="collapse in" id="lggm">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za računalniško grafiko in multimedije <small>LGGM</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lbrso">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za biomedicinske računalniške sisteme in oslikave <small>LBRSO</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>