<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#laspp" aria-expanded="true" aria-controls="laspp">
    LASPP
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lra" aria-expanded="false" aria-controls="lra">
    LRA
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lrk" aria-expanded="false" aria-controls="lrk">
    LRK
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lrss" aria-expanded="false" aria-controls="lrss">
    LRSS
  </button>
</div>

<div class="collapse in" id="laspp">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za adaptivne sisteme in paralelno procesiranje <small>LASPP</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lra">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za računalniško arhitekturo <small>LRA</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lrk">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za računalniške komunikacije<small>LRK</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lrss">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za računalniške strukture in sisteme <small>LRSS</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>