<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lalg" aria-expanded="true" aria-controls="lalg">
    LALG
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#laps" aria-expanded="false" aria-controls="laps">
    LAPS
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ltpo" aria-expanded="false" aria-controls="ltpo">
    LTPO
  </button>
</div>

<div class="collapse in" id="lalg">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za algoritme in podatkovne strukture <small>LALG</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="laps">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za arhitekturo in procesiranje signalov <small>LAPS</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="ltpo">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za tehnologijo programske opreme <small>LTPO</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>