<p>Izberite laboratorij o katerem si želite ogledati podrobnosti:</p>

<div style="margin-bottom: 20px;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lrv" aria-expanded="true" aria-controls="lrv">
    LRV
  </button>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#luvss" aria-expanded="false" aria-controls="luvss">
    LUVSS
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lui" aria-expanded="false" aria-controls="lui">
    LUI
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lkm" aria-expanded="false" aria-controls="lkm">
    LKM
  </button>
    
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lbi" aria-expanded="false" aria-controls="lbi">
    LBI
  </button>
</div>

<div class="collapse in" id="lrv">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za računalniški vid <small>LRV</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="luvss">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za umetne vizualne in spoznavne sisteme <small>LUVSS</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lui">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za umetno inteligenco <small>LUI</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lkm">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za kognitivno modeliranje <small>LKM</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>

<div class="collapse" id="lbi">
  <div class="well">
    <h4 style="font-weight: bold;">Laboratorij za bioinformatiko <small>LBI</small></h4>
    
    <!-- ........................................................................
        TODO: Tukaj lahko dodate informacije o laboratoriju 
         ........................................................................
    -->
  </div>
</div>